body {
  background-color:rgb(206, 206, 206);
  background-image: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .8)), url('/baby2.jpg');
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  text-align: center;
  height:100%;
}

/* .container {
  background-color: rgba(228, 154, 129, 0.995);
} */

.name-list {
  display:flex;
  flex-wrap: wrap;
}

.list-group-item{
  text-align: center;
  font-size: 28px;
  /* background-color: rgb(182, 182, 67); */
  display: inline;
  margin:5px;
  padding:10 22px;
  /* border: solid 1px; */
  /* border-radius: 40%; */
}

.strike {
  text-decoration:line-through;
}

.alert-box {
  padding:0;
  height:0px;
}
