html {
  height:100%;
  background-color: #343636
}

body {
  background-color:rgb(206, 206, 206);
  background-image: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .8)), url('/baby2.jpg');
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  text-align: center;
  height:100%;
}

/* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
@media screen and (min-width: 820px) {

  div.app-title {
    font-size: 100px;
    font-weight: lighter;
  }
}


/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 819px) {

  div.app-title {
    font-size: 70px;
    font-weight: lighter;
  }
}

.name-list {
  display:flex;
  flex-wrap: wrap;
}

.list-group-item{
  text-align: center;
  font-size: 28px;
  display: inline;
  cursor: pointer;
}

.strike {
  text-decoration:line-through;
}

.alert {
  /* padding:0;
  height:0px; */
  /* max-width: 200px; */
}
